.file-info {
    text-align: center;
    margin-top: 1.5rem;
}

.file-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.meta {
    color: #666;
    margin: 0.5rem 0;
    font-size: 0.9rem;
}

.mt-3 {
    margin-top: 1.5rem;
}

.spinner {
    color: #666;
    font-style: italic;
}